<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:fragment="head">
<title th:object="${pageTitle}" th:text="${pageTitle}"></title>
<script src="/js/jquery-3.5.1.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/parsley.js/2.9.2/parsley.min.js"></script>
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
	integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
	crossorigin="anonymous">
<!--  sweet alert -->
<script
	src="https://cdn.jsdelivr.net/npm/sweetalert2@7.12.15/dist/sweetalert2.all.min.js"></script>
<link rel='stylesheet'
	href='https://cdn.jsdelivr.net/npm/sweetalert2@7.12.15/dist/sweetalert2.min.css'>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">

<style>
.parsley-errors-list {
	color: red;
	font-size: 0.900rem;
	font-style: italic;
	list-style-type: none;
}
</style>
</head>
<body>
	<div class="container">
		<div class="card primary">
			<div class="card-header" style="background-color: #17a2b8;">
				<h5 style="color: white;">KATEGORI PRODUK KESEHATAN</h5>
			</div>

			<div class="card-body">
				<div class="row">
					<div class="col-sm-6">
						<input class="col-sm-10" onkeyup="search(this.value)" style="height: 100%" type="text"
							placeholder="Search By Nama">
					</div>
					<div class="col-sm-2" style="text-align: right" id="row">
							
					</div>
						<div class="col-sm-2">
								<select class="custom-select mr-sm-2"
									id="size">
									<option selected>page</option>
									<option value="5">5</option>
									<option value="10">10</option>
									<option value="15">15</option>
								</select>

						</div>
						<div class="col-sm-2" style="text-align: right">
							<button class="btn btn-info" onClick="openForm()">Tambah</button>
						</div>
					</div>
					<div class="row" style="padding: 25px 22px 0 20px;">
						<table class="table" style="padding: 0px 10px 10px 0px">
							<thead style="background-color: #17a2b8; color: white">
								<tr>
									<td style="width: 80%">Nama</td>
									<td colspan="2" style="text-align: center; width: 20%">#</td>
								</tr>
							</thead>
							<tbody id="data-category">
							</tbody>
						</table>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<div id="pagination"></div>
						</div>


					</div>
				</div>
			</div>
			<div class="modal fade" id="myModal" data-backdrop="static"
				data-keyboard="false" tabindex="-1"
				aria-labelledby="staticBackdropLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title">MASUK</h4>
							<a class="close" data-dismiss="modal" aria-label="Close"> <span
								style="color: #17a2b8; font-size: 2.5rem" aria-hidden="true">&times;</span>
							</a>
						</div>
						<div class="modal-body" style="padding: 2rem; padding-top: 0px;">

						</div>
						<div class="modal-footer"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script>
	
	$(function() {
		showData(0,5);
		})
		
		
	function order(page,size) {
		$.ajax({
			url: '/category/categorypagedesc?page='+page+'&size='+size,
			type: 'get',
			contentType: 'application/json',
			success : function(data){
				var str =''
				for(i = 0; i < data.category.length; i++){
				str +='<tr>'
				str += '<td>'+data.category[i].name[0].toUpperCase() + data.category[i].name.slice(1).toLowerCase()+'</td>'
				str += '<td style="text-align: center"><button value="'+data.category[i].id+'"class="btn btn-info" onclick=editData(this.value)>Update</button></td>'
				str += '<td style="text-align: center"><button value="'+data.category[i].id+'" class="btn btn-danger" onclick=modalDelete(this.value)>Hapus</button></td>'
				str += '</tr>'
				}
				
				var nav = "<nav>"
								nav += "<ul class='pagination'>"
								if( data.totalPages != 1) {
								if (page == 0) {
									var dsb = 'page-item disabled'
								} else {
									var dsb = 'page-item'
								}
								nav += "<li class='"+dsb+"'><a class='page-link' onclick='showData("+(page-1)+","+size+")'>Previous</a></li>"
								}
								
								for (i = 0; i < data.totalPages; i++) {
									if(page == i) {
										var cls = 'page-item active'
									} else {
										var cls = 'page-item'
									}
								nav += "<li class='"+cls+"'><a class='page-link' onclick='showData("+i+","+size+")'>"+ (i + 1) +"</a></li>"
								}
								if( data.totalPages != 1) {
								if ((page+1) == data.totalPages) {
									var nxt = 'page-item disabled'
								} else {
									var nxt = 'page-item'
								}
								nav += "<li class='"+nxt+"'><a class='page-link' onclick='showData("+(page+1)+","+size+")'>Next</a></li>"
								}
							
							nav += "</li>"
							nav += "</ul> </nav>"
							
							var btn = '<button class="btn" onclick=showData(0,5)>A-Z</button>'
			$('#data-category').html(str);
			$('#pagination').html(nav);
			$('#row').html(btn)
			$('#size').attr('onchange','order(0,this.value)')
			}
		})
	}
	
	function showData(page,size) {
		$.ajax({
			url: '/category/categorypage?page='+page+'&size='+size,
			type: 'get',
			contentType: 'application/json',
			success : function(data){
				var str =''
				for(i = 0; i < data.category.length; i++){
				str +='<tr>'
				str += '<td>'+data.category[i].name[0].toUpperCase() + data.category[i].name.slice(1).toLowerCase()+'</td>'
				str += '<td style="text-align: center"><button value="'+data.category[i].id+'"class="btn btn-info" onclick=editData(this.value)>Update</button></td>'
				str += '<td style="text-align: center"><button value="'+data.category[i].id+'" class="btn btn-danger" onclick=modalDelete(this.value)>Hapus</button></td>'
				str += '</tr>'
				}
				
				var nav = "<nav>"
								nav += "<ul class='pagination'>"
								if( data.totalPages != 1) {
								if (page == 0) {
									var dsb = 'page-item disabled'
								} else {
									var dsb = 'page-item'
								}
								nav += "<li class='"+dsb+"'><a class='page-link' onclick='showData("+(page-1)+","+size+")'>Previous</a></li>"
								}
								
								for (i = 0; i < data.totalPages; i++) {
									if(page == i) {
										var cls = 'page-item active'
									} else {
										var cls = 'page-item'
									}
								nav += "<li class='"+cls+"'><a class='page-link' onclick='showData("+i+","+size+")'>"+ (i + 1) +"</a></li>"
								}
								if( data.totalPages != 1) {
								if ((page+1) == data.totalPages) {
									var nxt = 'page-item disabled'
								} else {
									var nxt = 'page-item'
								}
								nav += "<li class='"+nxt+"'><a class='page-link' onclick='showData("+(page+1)+","+size+")'>Next</a></li>"
								}
							
							nav += "</li>"
							nav += "</ul> </nav>"
							
							var btn = '<button class="btn" onclick=order(0,5)>Z-A</button>'
			$('#data-category').html(str);
			$('#pagination').html(nav);
			$('#row').html(btn)
			$('#size').attr('onchange','showData(0,this.value)')
			}
		})
	}
	
	    function openForm() {
		var str = '<form action="javascript:;" onsubmit="addData()" parsley-validate="" >'
		str += ' <div class="form-group">'
         str += '			<div class="col">'
         str += '			<label for="name">Nama*</label>'
         str += '				<input type="text" id="name" data-parsley-required-message="this field is required" data-parsley-error-message="input hanya berupa Teks"  parsley-trigger="change" data-parsley-pattern="^[a-zA-Z ]+$" class="form-control" required>'
         str += '			</div>'
         str += '		</div>'
         str += '	</div>'
         str += '	<div class="form-group">'
         str += '			<div class="col" style="text-align: right">'
         str += '			<a type="submit" class="btn btn-warning" data-dismiss="modal">Batal</a>' 
		 str += '			<button type="submit" class="btn btn-info">Simpan</button>'
		 str += '	</div>'
		 str += '	</div>'
		str += '</form>'
        $('.modal-title').html("Tambah");
		$('.modal-body').html(str);
        $('#myModal').modal('show');
		$('form').parsley();
    }
    
    
    function editData(id) {
      $.ajax({
    	url: '/category/confirmDelete/'+id,
    	type: 'GET',
    	contentType: 'application/json',
    	success: function(data){ 
    	 var str = '<form action="javascript:;" onsubmit="updateData('+id+')" parsley-validate="" >'
		 str += ' <div class="form-group">'
         str += '			<div class="col">'
         str += '			<label for="name">Nama*</label>'
         str += '				<input type="text" id="name" value="'+data.name+'" data-parsley-required-message="this field is required" data-parsley-error-message="input hanya berupa Teks"  parsley-trigger="change" data-parsley-pattern="^[a-zA-Z ]+$" class="form-control" required>'
         str += '			</div>'
         str += '		</div>'
         str += '	</div>'
         str += '	<div class="form-group">'
         str += '			<div class="col" style="text-align: right">'
         str += '			<a type="submit" class="btn btn-warning" data-dismiss="modal">Batal</a>' 
		 str += '			<button type="submit" class="btn btn-info">Simpan</button>'
		 str += '	</div>'
		 str += '	</div>'
		 str += '</form>'
        $('.modal-title').html("Ubah");
		$('.modal-body').html(str);
        $('#myModal').modal('show');
		$('form').parsley();
    
    	}
    	})
   
    }
    
    function addData() {
    if($('form').parsley().isValid()){
    	var name = $('#name').val();
    $.ajax({
    	url: '/category/add/'+ name,
    	type: 'POST',
    	contentType : 'application/json',
    	success : function(data) {
    		if(data == 'duplicate') {
    			swal(
    				'error',
    				'Data Sudah Ada',
    				'error'
    			)
    		} else {
    			swal ({
    			title: "",
            	text: data,
            	type: "success"
    			}).then(function() {
    			location.reload()
    			});
    			$('#myModal').modal('hide');
  
    		}
    	}
    })
    }
    }
    
    function updateData(id) {
    if($('form').parsley().isValid()){
    var dataCat ={}
    	dataCat.name = $('#name').val();
    // data.modifiedby = localStorage.getItem("user_id");
    	$.ajax({
    	url: '/category/update/'+ id,
    	type: 'PATCH',
    	contentType : 'application/json',
    	data: JSON.stringify(dataCat),
    	success : function(data) {
			 if(data == 'duplicate') {
    			swal(
    				'error',
    				'Data Sudah Ada',
    				'error'
    			)
    		} else {
    			swal ({
    			title: "",
            	text: data,
            	type: "success"
    			}).then(function() {
    			location.reload()
    			});
    			$('#myModal').modal('hide');
  
    		}
    	}
      })
      }
}
    
    function modalDelete(...id) {
    console.log(id);
    var str = "<p>Anda Yakin akan Menghapus? </p>";
    for(j=0; j < id.length; j++) {
      $.ajax({
    	url: '/category/confirmDelete/'+id[j],
    	type: 'GET',
    	contentType: 'application/json',
    	success: function(data){ 
    			str += "<p>"+data.name+"</p>";
    			 var btn = '	<div class="form-group">'
         		 btn += '			<div class="col" style="text-align: right">'
         		 btn += '			<a type="submit" class="btn btn-warning" data-dismiss="modal">Batal</a>' 
		 		 btn += '			<button type="submit" class="btn btn-info">Simpan</button>'
				 btn += '	</div>'
				 btn += '	</div>'
				$('.modal-title').html('Hapus');
				$('.modal-body').html(str);
				$('.modal-footer').html(btn);
				$('#myModal').modal('show');
    	}
    	})
    	}
    }
    
    function deleteData(id) {
    $.ajax({
    	url: '/category/delete/'+id,
    	type: 'PATCH',
    	contentType: 'application/json',
    	success: function(data){
    		swal ({
    			title: "",
            	text: "data berhasil dihapud",
            	type: "success"
    			}).then(function() {
    			location.reload()
    			});
    			$('#myModal').modal('hide');
    	}
    })
    
    }
    
    function search(keyword){
    console.log(keyword)
    	$("#size").attr("disabled",true);
		if(keyword) {
			$.ajax({
			url: '/category/searchcategory/' + keyword,
			Type: 'get',
			ContentType : 'application/json',
			success : function(data) {
			var str =''
			if(data.length != 0) {
					for(i = 0; i < data.length; i++){
					str +='<tr>'
					str += '<td>'+data[i].name[0].toUpperCase() + data[i].name.slice(1).toLowerCase()+'</td>'
					str += '<td style="text-align: center"><button value="'+data[i].id+'"class="btn btn-info" onclick=editData(this.value)>Update</button></td>'
					str += '<td style="text-align: center"><button value="'+data[i].id+'" class="btn btn-danger" onclick=modalDelete(this.value)>Hapus</button></td>'
					str += '</tr>'
					}
			} else {
			str += '<tr>'
			str += '<td colspan ="3"><h3 style="color: red; font-style: italic;;">Data Not Exist</h3></td>'		
			str += '</tr>'	
			
			}
				
							$('#data-category').html(str);
			}
		})
		} else {
		$("#size").attr("disabled",false);
			showData(0,5);
		}
    }
	</script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>

	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>

</body>
</html>