<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:fragment="head">
<title th:object="${pageTitle}" th:text="${pageTitle}"></title>
<script src="/js/jquery-3.5.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/parsley.js/2.9.2/parsley.min.js"></script>
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
	integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
	crossorigin="anonymous">
<!--  sweet alert -->
 <script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.12.15/dist/sweetalert2.all.min.js"></script>
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/sweetalert2@7.12.15/dist/sweetalert2.min.css'>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<style>
.tekslogin, a {
	color: grey;
	font-weight: 600;
	text-align: center;
}

 .parsley-errors-list {
 	color: red;
	font-size: 0.900rem;
	font-style: italic;
	list-style-type: none;
 }

.modal-title {
	color: #17a2b8;
	font-weight: bold;
	padding: 1rem;
	padding-bottom: 0;
}

.col-form-label {
	color: grey;
}

.desc {
	color: grey;
	letter-spacing: 2px;
}

.dngr {
	color: red;
	font-size: 0.900rem;
	font-style: italic;
}

.modal-header {
	border-bottom: 0;
}

.form-control, .invalid {
	border-color: #17a2b8;
}

#eye, #eye2 {
	color: #17a2b8;
	position: absolute;
	right: 20px;
	transform: translate(0, -50%);
	top: 50%;
	cursor: pointer;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

</style>
</head>
<body>
	<div class="container">
		<div class="row" style="margin-left: 40px;">
			<!-- Button trigger modal -->
			<button type="button" class="btn btn-primary" onClick="modalLogin()">
				Login</button>
				
				<button type="button" class="btn btn-primary" onClick="signUP()">
				Daftar</button>
			<!-- Modal -->
		<div class="modal fade" id="myModal" data-backdrop="static"
				data-keyboard="false" tabindex="-1"
				aria-labelledby="staticBackdropLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title">MASUK</h4>
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span style="color: #17a2b8; font-size: 2.5rem"
									aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body" style="padding: 2rem; padding-top: 0px;">

						</div>
					</div>
				</div>
			</div>
		</div>

	</div>


	<script type="text/javascript">
	function modalLogin() {
	 var str =''
	 str += ' <form action="javascript:;" onsubmit="login()">'
     str += ' <div class="form-group">'
	 str += '			<label class="col-sm-2 col-form-label">Email*</label>'
	 str += '			<div class="col">'
	 str += '				<input type="email" class="form-control" id="email"  data-parsley-trigger="change" required>'
	 str += '				<div class="invalid-email dngr parsley-errors-list" >'
		str += '			</div>'
		str += '		</div>'
		str += '	</div>'
		str += '	<div class="form-group">'
		str += '		<label class="col-sm-2 col-form-label">Password*</label>'
		str += '		<div class="col">'
		str += '			<input type="password" class="form-control" id="password" data-parsley-errors-container="#pass-er" required>'
		str += '			<i class="fa fa-eye" aria-hidden="true" id="eye" onclick="toggle()"></i>'
		str += '		</div>'
		str += '			<div class="invalid-pass dngr id ="pass-err">'			
		str += '			</div>'
		str += '	</div>'
		str += '	<div class="form-group" style="text-align: center">'
		str += '		<div class="col">'
		str += '			<button type="submit" class="btn btn-info" style="width: 40%">Masuk</button>'
		str += '		</div>'
		str += '	</div>'
      str += '</form>'		
		str += '	<div class="form-group tekslogin">'
		str += '		<div class="col">'
		str += '		<a href="#" href="Javascript:forgotPassword();" onClick="forgotPassword()">Lupa Password?</a>'
		str += '		</div>'
		str += '		<div class="col">'
		str += '		<span>atau</span>'
		str += '		</div>'
		str += '		<div class="col">'
		str += '		<span>Belum mmemiliki akun? <a href="#" href="Javascript:signUP();" onClick="signUP()">daftar</a></span>'
		str += '		</div>'
		str += '	</div>'
		$(".modal-title").html("Masuk")
		$(".modal-body").html(str)
		$("#myModal").modal('show');
		
		$('form').parsley();
	}
	
	function login() {
	if($('form').parsley().isValid()){
	var formdata = {};
	formdata.email = $('#email').val();
	formdata.password = $('#password').val()
		$.ajax({
		url:'/login/logincheck',
		method: 'POST',
		data: JSON.stringify(formdata),
		contentType : 'application/json',
		success: function(data) {
			//check email
		if (data == 'emailnotfound') {
			$("#email").attr("class","form-control border-info");
			$(".invalid-email").html("*email belum terdaftar")
			$(".invalid-pass").html("")
		} else if(data == 'wrongpass') {
		$("#password").attr("class","form-control border-info");
		$(".invalid-email").html("")
		$(".invalid-pass").html("*password salah")
		} else {
		//kalo berhasil login
		localStorage.setItem("role_id", data.roleId);
		localStorage.setItem("user_id", data.Id);
		localStorage.setItem("role_name", data.biodata.fullName);
		$(".invalid-email").html("")
		$(".invalid-pass").html("")
		}
		}
		})
	} else {
		console.log("nita")
	}
	}
		
//toggle
	var state = false;
	function toggle() {
		if(state){
			 $("#password").attr("type","password");
			 $("#eye").attr("class","fa fa-eye");
			 state = false;
		} else {
			 $("#password").attr("type","text");
			 $("#eye").attr("class","fa fa-eye-slash");
			 state = true;
		}
	}
//toggle	
	var state2 = false;
	function toggle2() {
		if(state2){
			 $("#repassword").attr("type","password");
			 $("#eye2").attr("class","fa fa-eye");
			 state2 = false;
		} else {
			 $("#repassword").attr("type","text");
			 $("#eye2").attr("class","fa fa-eye-slash");
			 state2 = true;
		}
	}

 //reset modal klo di close
 $('#myModal').on('hidden.bs.modal', function () {
    $(this).find('form').trigger('reset');
    $(".invalid-email").html("");
    $(".invalid-pass").html("");
})



function forgotPassword() {
	var str =''
	str += '<p style="color: grey; letter-spacing: 1.5px; font-weight: 400;">Masukkan Email Anda Kami akan Melakukan Pengechekkan</p>'
	 str += ' <form action="javascript:;" data-parsley-validate="" onsubmit="checkEmail()">'
     str += ' <div class="form-group">'
	 str += '			<label class="col-sm-2 col-form-label">Email*</label>'
	 str += '			<div class="col">'
	 str += '				<input type="email" class="form-control" id="email" data-parsley-trigger="change" required>'
	 str += '				<div class="invalid-email dngr">'
		str += '			</div>'
		str += '		</div>'
	str += '	</div>'
		str += '	<div class="form-group" style="text-align: center">'
		str += '		<div class="col">'
		str += '			<button type="submit" id="btnOtp" class="btn btn-info" style="width: 40%">Kirim OTP</button>'
		str += '		</div>'
		str += '	</div>'
		str += '</form>'
	$(".modal-title").html("Lupa Password")
	$(".modal-body").html(str)
	$("#myModal").modal('show');
		
	$('form').parsley();
}

function checkEmail(email){
	var email= email;
	if(!email) {
	email = $('#email').val();
	}
	$.ajax({
		url: '/login/checkemail/' + email,
		type: 'get',
		contentType : 'application/json',
		success: function(data) {
			if(data == 'false') {
			$("#email").attr("class","form-control border-info");
			$(".invalid-email").html("*email belum terdaftar")
			} else {
			sendOtp(email);
			$(".invalid-email").html("")
			}
		}
		
	})

}

function sendOtp(email) {
if($('form').parsley().isValid()){
	var email = email
	if(!email) {
		email = $("#email").val();
	}
	$(".invalid-otp").html("")
	$.ajax({
		url: '/generateOtp/' + email,
		type: 'get',
		contentType : 'application/json',
		success: function(){
			var str =''
				str += '<p style="color: grey; letter-spacing: 1.5px; font-weight: 400;">Masukkan Kode OTP yang telah dikirimkan ke anda</p>'
				str += ' <form id="validateForm" action="javascript:;" onsubmit="validateOtp()">'
				 str += '				<input type="hidden" value="'+email+'" id="email">'
			     str += ' <div class="form-group">'
				 str += '			<div class="col">'
				 str += '				<input type="number" id="otp" style="text-align: center;"  class="form-control" required>'
				 str += '				<div class="invalid-otp dngr">'
				 str += '			</div>'
				 str += '		</div>'
				 str += '	</div>'
				str += '	<div class="form-group" id="tengah" style="text-align: center">'
				str +='<span id="timer" style="color: red"></span>'
				str += '	</div>'
					str += '	<div class="form-group" style="text-align: center">'
					str += '			<button id="btnValidate" type="submit"class="btn btn-info" style="width: 40%" disabled>Konfirmasi OTP</button>'
					str += '	</div>'
					str += ' </form>'
				$(".modal-title").html("Verifikasi E-mail")
				$(".modal-body").html(str)
				$("#myModal").modal('show');
					
					 $('#otp').on('keyup', function () {
						    if ($('#otp').val().length >= 6) {
						    	$('#validateForm').attr('onsubmit','validateOtp()')
						        $('#btnValidate').removeAttr('disabled');
						        console.log("tes")
						        $('.invalid-otp').html('');
						    } else {
						        $('.invalid-otp').html('OTP harus 6 digit');
						    	$('#btnValidate').attr('disabled', true);
						    	}
						});
					 
					var count=180;
					var counter=setInterval(timer, 1000); //1000 will  run it every 1 second
					function timer() {
						minutes = parseInt(count / 60, 10)
				        seconds = parseInt(count % 60, 10);

				        minutes = minutes < 10 ? "0" + minutes : minutes;
				        seconds = seconds < 10 ? "0" + seconds : seconds;
					  count=count-1;
					  if (count <= 0) {
					  var str = '<a href="#" href ="javascript:void(0)" onClick="sendOtp(\''+email+'\')">Kirim Ulang otp</a>'
					     clearInterval(counter);
					   	 $("#tengah").html(str);
					     $("#timer").html("");
					     return;
					  }
					  $("#timer").html(minutes+":"+seconds);
					}
		}
		})
		} else {
		$(".invalid-email").html("")
		}

}

function validateOtp(){
	var otp = $('#otp').val();
	var email = $('#email').val();
	$.ajax({
		url: '/validateOtp?otpnum=' + otp + '&email='+ email,
		type: 'get',
		contentType : 'application/json',
		success: function(data) {
			if (data == 'valid') {
			 formPassword(email);
			} else if (data == 'invalid') {
				$(".invalid-otp").html("kode OTP salah")
			} else {
				var str = '<button type="submit" id="btnOtp" class="btn btn-info" style="width: 40%">Kirim Ulang OTP</button>'
				$(".invalid-otp").html("otp is expired")
				$('form').attr("onsubmit","sendOtp()")
				$('#btnOtp').html(str)
			}
			}
		})
	
}

function formPassword(email) {
	 var str = '<p style="color: grey; letter-spacing: 1.5px; font-weight: 400;">Masukkan password baru untuk akun anda</p>'
		 str += ' <form action="javascript:;" onsubmit="changePassword()">'
		str += '				<input type="hidden" value="'+email+'" id="email">'
	 		str += '<div class="form-group">'
		str += '		<label class="col-sm-2 col-form-label">Password*</label>'
			str += '		<div class="col">'
			str += '			<input type="password" class="form-control" id="password" required>'
			str += '			<span><i class="fa fa-eye" aria-hidden="true" id="eye" onclick="toggle()"></i></span>'
			str += '		</div>'
			str += '			<div id="pass" class="invalid dngr">'			
			str += '			</div>'
		str += '	</div>'
		str += '	<div class="form-group">'
		str += '		<label class="col-sm-10 col-form-label">Masukan ulang Password*</label>'
		str += '		<div class="col">'
		str += '			<input type="password" class="form-control" id="repassword" required>'
		str += '			<span><i class="fa fa-eye" aria-hidden="true" id="eye2" onclick="toggle2()"></i></span>'
		str += '		</div>'
		str += '			<div id="invalid-pass" class="invalid-pass dngr">'			
		str += '			</div>'
		str += '	</div>'
		str += '	<div class="form-group" style="text-align: center">'
		str += '		<div class="col">'
		str += '			<button id="btnPass" type="submit" class="btn btn-info" style="width: 40%" disabled>Set Password</button>'
		str += '		</div>'
		str += '	</div>'
     str += '</form>'
		$(".modal-title").html("Set Password")
		$(".modal-body").html(str)
		$("#myModal").modal('show');
     
	   $('#password, #repassword').on('keyup', function() {
           var pswd = $('#password').val();
           var decimal = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s)/;
           var sama = false;
           var pass = false;

           if (pswd.match(decimal)) {
               if (pswd.length >= 8) {
                   $('#pass').html("")
                   pass = true;
               } else {
                   $('#pass').html("password length min 8")
               }
           } else {
               $('#pass').html("password must contains 8 characters, uppercase, lowercase, number and special character");
           }

           if (pswd == $('#repassword').val()) {
               $('.invalid-pass').html('');
               sama = true;
           } else {
               $('#invalid-pass').html('password tidak sama');
               $('#btnPass').attr('disabled', true);
           }

           if (sama == true & pass == true) {
               $('#btnPass').attr('disabled', false);
           }
       });
	
}

function changePassword() {
	var password = $('#password').val();
	var repassword =  $('#repassword').val();
	if(password == repassword) {
	var email = $('#email').val();
	var password = repassword;
	var user = {};
	user.password = password;
	$.ajax({
		url:'/login/updatedata/' + email,
		method: 'PATCH',
		data: JSON.stringify(user),
		contentType : 'application/json',
		success: (result) => {
			 alert('Saved successfully');
			 $('#myModal').modal('hide')
        }, error: function (error) {
        	localStorage.setItem("email", email);
    		localStorage.setItem("password", password);
    		formDaftar();
    		console.log("error")
	                }
	})
	} else {
	
	}
	
}


//pendaftaran
function signUP(){
				var str =''
				str += '<p style="color: grey; letter-spacing: 1.5px; font-weight: 400;">Masukkan email Anda. Kami akan melakukan pengecekan </p>'
				str += ' <form action="javascript:;" onsubmit="checkEmailDaftar()" data-parsley-validate="">'
			     str += ' <div class="form-group">'
				 str += '			<div class="col">'
				 str += '				<input type="email" id="email"  class="form-control" data-parsley-trigger="change" required>'
				 str += '				<div class="invalid-email dngr">'
				 str += '			</div>'
				 str += '		</div>'
				 str += '	</div>'
				str += '	<div class="form-group" style="text-align: center">'
				str += '	</div>'
					str += '	<div class="form-group" style="text-align: center">'
					str += '			<button id="btnValidate" type="submit"class="btn btn-info" style="width: 40%">Kirim OTP</button>'
					str += '	</div>'
					str += ' </form>'
				$(".modal-title").html("Daftar")
				$(".modal-body").html(str)
				$("#myModal").modal('show');
					
				$('form').parsley();
}

function checkEmailDaftar(){
	var email = $('#email').val();
	$.ajax({
	url:'/login/checkemail/' + email,
	method: 'GET',
	contentType : 'application/json',
	success: (result) => {
	if(result != 'false') {
	$(".invalid-email").html('email sudah terdaftar');
 	} else {
 	sendOtp(email)
 }
}
})
	
}

function formDaftar(email){
	 var str = ''
         str += '<p style="color: grey; letter-spacing: 1.5px; font-weight: 400;">Masukkan email Anda. Kami akan melakukan pengecekan </p>'
         str += ' <form action="javascript:;" onsubmit="addUser()" data-parsley-validate="" >'
         str += ' <div class="form-group">'
         str += '			<div class="col">'
         str += '			<label for="name">Nama Lengkap*</label>'
         str += '				<input type="text" id="fullname"  data-parsley-trigger="change" data-parsley-pattern="^[a-zA-Z ]+$" class="form-control" required>'
         str += '				<div class="invalid-email dngr">'
         str += '			</div>'
         str += '		</div>'
         str += '	</div>'
         str += ' <div class="form-group">'
         str += '			<div class="col">'
         str += '		    <label for="mobile_phone">Nomor Handpone</label>'
         str += '	        <div class="input-group">'
         str += '	        <div class="input-group-prepend">'
         str += '	        <span class="input-group-text" id="inputGroupPrepend">+62</span>'
         str += '	         </div>'
         str += '			<input type="number" id="mobile_phone" class="form-control" required>'
         str += '		</div>'
         str += '		</div>'
         str += '	</div>'
         str += ' <div class="form-group">'
         str += '			<div class="col">'
         str += '			<label for="name">Daftar Sebagai</label>'
         $.ajax({
             url: '/login/role',
             type: 'GET',
             contentType: 'application/json',
             success: function(data) {
             str += '    <select class= "custom-select my-1 mr-sm-2" id="role_id" required>'
         	str += '     <option selected disabled> Choose...  </option>'
                 for (i = 0; i < data.length; i++) {
                     str += '    <option value = "'+data[i].id +'" >' + data[i].name+ '</option>'
                 }
                 str += '</select>'
                 str += '			</div>'
                 str += '		</div>'
                 str += '	</div>'
                 str += '	<div class="form-group" style="text-align: center">'
                 str += '			<button id="btnValidate" type="submit"class="btn btn-info" style="width: 40%">DAFTAR</button>'
                 str += '	</div>'
                 str += ' </form>'
                   $(".modal-title").html("Daftar");
         $(".modal-body").html(str);
         $("#myModal").modal('show');
         $('form').parsley();
             }
         })
       
}

function addUser() {
var tes = $('#role_id').val()
console.log(tes)
if($('form').parsley().isValid()){
	var str = $('#mobile_phone').val().toString().trim();
	var cek = str.substring(0,3);
	var cekDua = str.substring(0,2);
	var cekTiga = str.substring(0,1);
	var mobile_phone= '';
	if (cek == '+62') {
		mobile_phone = str.substring(3);
		mobile_phone = '+62' + mobile_phone;
	} else if(cekDua == '62'){
		mobile_phone = str.substring(2);
		mobile_phone = '+62' + mobile_phone;
	} else if(cekTiga == '0') {
		mobile_phone = str.substring(1);
		mobile_phone = '+62' + mobile_phone;
	}
	var fullname = $('#fullname').val()
	var biodata = {}
	biodata.fullName = fullname.trim().toLowerCase();
	biodata.mobilePhone = mobile_phone;
	var user = {}
	user.email = localStorage.getItem('email');
	user.password = localStorage.getItem('password');
	user.roleId = $('#role_id').val();
	$.ajax({
                url: '/login/add/biodata',
                method: 'POST',
                data: JSON.stringify(biodata),
                contentType: 'application/json',
                success: function () {
                    $.ajax({
                    url: '/login/add/user',
                    method: 'POST',
                    data: JSON.stringify(user),
                    contentType: 'application/json',
                    success: function () {
                    	swal(
                    			  'Good job!',
                    			  'Pendaftaran berhasil',
                    			  'success'
                    			)
                    localStorage.clear();
                    $('#myModal').modal('hide');
                    }

                });
               }, error: function (error) {
                    alert(error);
                }
            })
	
	}

}

</script>

	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>

	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>

</body>

</html>